/* layout */
li {
    list-style: none;
}
body{
    /* background-color: black; */
    background-color: red;
}

header{
    height:100px;
    /* border-bottom:1px solid #777; */
    border: 5px solid black;
    /* background-color:  whitesmoke; */
    background-color:  red;
    
}

main{

    /* background-color: black; */
    background-color: red;
}
.video{
     position: relative; 
     left: -100px; 
   

    
}

.boxynews{

    /* background-color: rgb(209, 209, 209); */
    background-color:red;
    
   position: relative;
 
   height: 1200px;
   
}

.boxynewsgroup{
    
    display: flex;
    background-color: red;
    margin: auto;
    flex-wrap: wrap;
    width: 1000px;
    justify-content: center;
    height: 800px;
    color: rgb(179, 248, 69);
   /* width: 1024px; */
    
}

.boxnews1{
    cursor: pointer;
    /* background-color: black; */
    background-color: red;
    margin: 60px 10px;
    height: 350px;

    border: 2px solid black;

}

.boxnews2{
    cursor: pointer;
    /* background-color: black; */
    background-color: red;
    margin: 60px 10px;
    height: 350px;
    border: 2px solid black;
}

.boxnews3{
    cursor: pointer;
    /* background-color:  black; */
    background-color: red;
    margin: 60px 10px;
    height: 350px;
    border: 2px solid black;
}
.boxnews4{
    
    cursor: pointer;
    /* background-color:  black; */
    background-color: red;
    margin: 60px 10px;
    height: 350px;
    border: 2px solid black;
}

.boxnews5{
    
    cursor: pointer;
    /* background-color:  black; */
    background-color: red;
    margin: 60px 10px;
    height: 350px;
    border: 2px solid black;
}

.boxnews6{
    
    cursor: pointer;
    /* background-color: black; */
    background-color: red;
    margin: 60px 10px;
    height: 350px;
    border: 2px solid black;
}





footer{
    /* background: rgb(0,18,83); */
    /* background-color: black; */
    background-color: red;
    padding: 30px 0;
    height: 400px;


}

.inner-container{
   
    width: 1024px;
    margin: 0 auto;
   
    position: relative;
}
nav {
    margin: 30px;
    
}
.logo{
 
    /* position: absolute; */
    left: 0px;
    text-align: center;
    font-size: 45px;
}

.menu{
  
    position: absolute;
    left: 300px;
}

.button{
   
    position: absolute;
    right:0px;
}
.gamsa {
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.footermenu1{
    color: white;
  
}

.menumenuA{
    font-size: 25px;
}

.footermenu2{
    color: white;
    
}
.menumenuB{
    font-size: 25px;
    text-align: center;
}
.footermenu3{
    
    color:white;
}

.menumenuC{
    font-size: 25px;
    text-align:  center;
}

.footermenu4{
   
    color:white;
}

.menumenuD{
    font-size: 25px;
    text-align:  center;
}


.footermenu5{

    color:white;
}

.menumenuE{
    font-size: 25px;
    text-align:  center;
}

.footermenu6{
    
    color:white;
}

.menumenuF{
    font-size: 25px;
    text-align:  center;
}

.footerimg{
    display: flex;
    justify-content: space-between;
        margin: 30px 400px; 
        width: 200px;
        height: 100px;
/* background-color: red; */

}

.footerend{
    color: white;
    font-size: 10px;
    text-align: center;
}

.slogun{
    font-size: 25px;
    text-align: center;
    color: black;
}
.letter{
    text-align: center;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.758);
}

.boxy{
    display: flex;
    /* background-color: red; */
    
    justify-content: center;
  
}

.boxyone{
    background-color: red;
    color:white;
    font-size: 20px;
    width: 300px;
    height: 200px;
}
.boxytwo{
    background-color: blue;
    color:white;
    font-size: 20px;
    width: 300px;
    height: 200px;
}

.boxythree{
    background-color: green;
    color:white;
    font-size: 20px;
    width: 300px;
    height: 200px;
}

.newsbox{
    /* background-color: red; */
    display: flex;
    /* text-align: left; */
    flex-direction: column;
    justify-content: center;
    margin: 60px;
    color: whitesmoke;
    /* border-bottom: 1px gray solid ; */
}

.news1{
    /* background-color: red; */
   /* background-color: blue; */
    padding: 10px;
    height: 30px;
    border-bottom: 1px gray solid ;
}
span{
    color:rgb(179, 248, 69);
    
}
